<ion-header-bar align-title="center">
    <h1 class="title">Create Nickname</h1>
</ion-header-bar>
<ion-content class="has-header">
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">Nickname</span>
            <input type="text" placeholder="Nickname" ng-model="data.nickname">
        </label>
        <button class="button button-block button-positive" ng-click="join()">
          Join
        </button>
    </div>
</ion-content>